@{
    ViewData["Title"] = "Directorio";
}
<style>
    h1 {
        text-align: center;
    }

    .nuevaContainer {
        display: flex;
        justify-content: flex-end;
    }

    .modalBodyContainers {
        display: flex;
        align-items: center;
    }

    .contenedorDivsModal div:not(:first-child) {
        margin-top: 2%;
    }
    .alertSuccess{
        display:none;
    }

    .alertMensajeLetra{
        font-weight:bold;
        font-size:larger;
    }
    #nombreRequerido{
        margin-left: 23%;
        color: #EA4242;
        display:none;
    }

    #aPaternoRequerido{
        margin-left:23%;
        color: #EA4242;
        display:none;
    }

    #identificacionRequerido{
        margin-left:22%;
        color: #EA4242;
        display:none;
    }
    #camposCompletos{
        margin-top:2%;
        color: #EA4242;
        display:none;
    }
    .inputRequerido{
        border: 2px solid #EA4242;
    }
    #mensajeError2{
        margin-top:2%;
        color: #EA4242;
        display:none;
    }
</style>
<h1>Directorio</h1>

<div id="liveAlertPlaceholder"></div>

<div class="container">
    <div class="nuevaContainer">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalPersonas" onclick="AbrirModal('Registrar', null);">Registrar</button>
    </div>
    <table id="tablaPersonas" class="table table-hover table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>A. Paterno</th>
                <th>A. Materno</th>
                <th>Identificación</th>
                <th>Acción</th>
            </tr>
        </thead>
@*         <tbody id="tbodyTablaPersonas">
        </tbody> *@
        <tfoot>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>A. Paterno</th>
                <th>A. Materno</th>
                <th>Identificación</th>
                <th>Acción</th>
            </tr>
        </tfoot>
    </table>
</div>

<div class="modal fade" tabindex="-1" id="modalPersonas">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitulo">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <div class="contenedorDivsModal">
                    <div class="modalBodyContainers">
                        <label class="col-3">Id:</label><input type="text" class="form-control" placeholder="..." readonly id="txtId">
                    </div>

                    <div class="modalBodyContainers">
                        <label class="col-3">Nombre: *</label>
                        <input type="text" class="form-control" placeholder="..." id="txtNombre" onkeydown="SoloLetras(event);" onkeypress="NoMayorA(event, 50);" onpaste="event.preventDefault();" oninput="CampoObligatorio(event, this.id,'nombreRequerido');" />
                    </div>
                    <label id="nombreRequerido">El nombre es requerido</label>
                    
                    <div class="modalBodyContainers">
                        <label class="col-3">A. Paterno: *</label><input type="text" class="form-control" placeholder="..." id="txtAPaterno" onkeydown="SoloLetras(event);" onkeypress="NoMayorA(event,50);" onpaste="event.preventDefault();" oninput="CampoObligatorio(event, this.id,'aPaternoRequerido');"/>
                    </div>
                    <label id="aPaternoRequerido">El apellido paterno es requerido</label>

                    <div class="modalBodyContainers">
                        <label class="col-3">A. Materno:</label><input type="text" class="form-control" placeholder="..." id="txtAMaterno" onkeydown="SoloLetras(event);" onkeypress="NoMayorA(event,50);" onpaste="ValidacionPegado(event);" />
                    </div>

                    <div class="modalBodyContainers">
                        <label class="col-3">Identificación: *</label><input type="text" class="form-control" placeholder="..." id="txtIdentificacion" onkeydown="SoloLetrasYNumeros(event);" onkeypress="NoMayorA(event,50);" onpaste="event.preventDefault();" oninput="CampoObligatorio(event, this.id,'identificacionRequerido');"/>
                    </div>
                        <label id="identificacionRequerido">La identificación es requerida</label>

                </div>
                    
                <label id="camposCompletos">Ingresar los campos obligatorios</label>
                <label id="mensajeError2"></label>

                <h4 id="h4Borrar">¿Estás seguro de borrar el registro?<br />Se borrarán todas las facturas de la persona</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnCerrarModal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="btnConfirmar" onclick="EjecutarAccion();">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/Url.js"></script>
<script>

    const CargarPagina = () => {
        // ListaPersonas();
        NuevoDataTable();
        
    }

    const AppendAlert = (mensaje, tipo) => {
        const liveAlertPlaceholder = document.getElementById("liveAlertPlaceholder");
        const wrapper = document.createElement('div');
        wrapper.innerHTML = [
            `<div class="alert alert-${tipo} alert-dismissible text-center" role="alert">`,
            `   <div class="alertMensajeLetra">${mensaje}</div>`,
            '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
            '</div>'
        ].join('');
        liveAlertPlaceholder.append(wrapper);
    }

    const CampoObligatorio = (event, idInput, idIdentificador) => {
        if (event.target.value.length === 0) {
            document.getElementById(idIdentificador).style.display = "block";
            document.getElementById(idInput).classList.add("inputRequerido");
        }else{
            document.getElementById(idIdentificador).style.display = "none";
            document.getElementById(idInput).classList.remove("inputRequerido");
        }
    }

    const NoMayorA = (event, cantidad) => {
        if (event.target.value.length >= cantidad-1) {
            event.preventDefault();
        }
    }

    const NoEspaciosPrimero = (event) => {
        if (event.target.value === "") {
            if (event.code === "Space") {
                event.preventDefault();
            }
        }
    }

    const SoloLetras = (event) => {
        const soloLetras = /^[a-zA-ZñÑáéíóú]+$/;
        if (event.target.value=== "") {
            if (event.code === "Space") {
                event.preventDefault();
                return;
            }
        }
        if (!soloLetras.test(event.key) && event.code !== "Space") {
            event.preventDefault();
        }
    }

    const SoloLetrasYNumeros = (event) => {
        const soloLetrasYNumeros =/^[a-zA-Z0-9]+$/;
        if (event.target.value === "") {
            if (event.code === "Space") {
                event.preventDefault();
                return;
            }
        }
        if (!soloLetrasYNumeros.test(event.key)) {
            event.preventDefault();
        }
    }

    const AbrirModal = (titulo, item) => {

        document.getElementById("txtNombre").classList.remove("inputRequerido");
        document.getElementById("txtAPaterno").classList.remove("inputRequerido");
        document.getElementById("txtIdentificacion").classList.remove("inputRequerido");


        const camposCompletos = document.getElementById("camposCompletos");
        const nombreRequerido = document.getElementById("nombreRequerido");
        const aPaternoRequerido = document.getElementById("aPaternoRequerido");
        const identificacionRequerido=document.getElementById("identificacionRequerido");
        const mensajeError2 = document.getElementById("mensajeError2");

        camposCompletos.style.display = "none";
        nombreRequerido.style.display="none";
        aPaternoRequerido.style.display = "none";
        identificacionRequerido.style.display = "none";
        mensajeError2.style.display = "none";

        const txtId = document.getElementById("txtId");
        const txtNombre = document.getElementById("txtNombre");
        const txtAPaterno = document.getElementById("txtAPaterno");
        const txtAMaterno = document.getElementById("txtAMaterno");
        const txtIdentificacion = document.getElementById("txtIdentificacion");

        const contenedorDivsModal = document.querySelector(".contenedorDivsModal");
        const h4Borrar = document.getElementById("h4Borrar");

        if (titulo === "Registrar") {
            contenedorDivsModal.style.display = "block";
            h4Borrar.style.display = "none";
            txtId.value = "Nueva persona";
            txtNombre.value = "";
            txtAPaterno.value = "";
            txtAMaterno.value = "";
            txtIdentificacion.value = "";
        } else {
            if (titulo === "Modificar") {
                contenedorDivsModal.style.display = "block";
                h4Borrar.style.display = "none";
                const arrayData = item.split("|");
                txtId.value = arrayData[0];
                txtNombre.value = arrayData[1];
                txtAPaterno.value = arrayData[2];
                txtAMaterno.value = arrayData[3];
                txtIdentificacion.value = arrayData[4];
            } else {
                txtId.value = item;
                contenedorDivsModal.style.display = "none";
                h4Borrar.style.display = "block";
            }
        }

        const modalTitulo = document.getElementById("modalTitulo");
        const btnConfirmar = document.getElementById("btnConfirmar");
        modalTitulo.innerText = titulo;
        btnConfirmar.innerText = titulo;
    }

    const EjecutarAccion = () => {

        const accion = document.getElementById("modalTitulo").textContent;
        const txtId = document.getElementById("txtId");
        const txtNombre = document.getElementById("txtNombre");
        const txtAPaterno = document.getElementById("txtAPaterno");
        const txtAMaterno = document.getElementById("txtAMaterno");
        const txtIdentificacion = document.getElementById("txtIdentificacion");
        
        if (txtNombre.value === "" || txtAPaterno.value === "" || txtIdentificacion.value === "") {
            const camposCompletos = document.getElementById("camposCompletos");
            if (accion === "Registrar" || accion === "Modificar") {
                camposCompletos.style.display = "block";
                return;
            }
        } else {
            if(accion==="Registrar"||accion=="Modificar"){
                camposCompletos.style.display = "none";
            }
        }

        if (accion === "Borrar") {
            fetch(Url + `/Persona/BorrarPersona/${txtId.value}`, {
                method: "DELETE"
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error("Error al borrar el registro");
                    }
                    return response.json();
                })
                .then(response => {
                    AppendAlert(response, "success");
                    document.getElementById("btnCerrarModal").click();
                    $("#tablaPersonas").DataTable().ajax.reload();
                    // ListaPersonas();
                    
                })
                .catch(error => {
                    console.error("Ha ocurrido une error", error);
                })
        } else {

            let validacionId = 0;
            if (accion === "Modificar") {
                validacionId=txtId.value
            }
            const persona = {
                id: validacionId,
                nombre:txtNombre.value.trim().toUpperCase(),
                apellidoPaterno:txtAPaterno.value.trim().toUpperCase(),
                apellidoMaterno:txtAMaterno.value.trim().toUpperCase(),
                identificacion:txtIdentificacion.value.trim().toUpperCase()
            };
            fetch(Url + "/Persona/RegistrarPersona", {
                method: "POST",
                headers: {
                    "Content-Type":"application/json"
                },
                body:JSON.stringify(persona)
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(`Error al ${accion}`);
                    }
                    return response.json();
                })
                .then(response=>{

                    if (response.id === 2||response.id===5) {
                        const mensajeError2 = document.getElementById("mensajeError2");
                        mensajeError2.textContent = response.nombre;
                        mensajeError2.style.display = "block";
                    } else {
                        AppendAlert(response.nombre, "success");
                        document.getElementById("btnCerrarModal").click();
                        $("#tablaPersonas").DataTable().ajax.reload();
                    }

                })
                .catch(error => {
                    console.error("Ha ocurrido un error", error);
                })
        }
    }    

    const ListaPersonas = () => {
        fetch(Url + "/Persona/ListaPersonas", {
            method:"GET"
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error("Ha ocurrido un error con la respuesta");
                }
                return response.json();
            })
            .then(responseData => {

                // console.log(responseData[0]);
                
                // new DataTable("#tablaPersonas",{
                //     data: responseData,
                //     columns: [
                //         { title: "ID", data: "id" },
                //         { title: "Nombre", data: "nombre" },
                //         { title: "Apellido Paterno", data: "apellidoPaterno" },
                //         { title: "Apellido Materno", data: "apellidoMaterno" },
                //         { title: "Identificación", data: "identificacion" }
                //         // Agrega columnas según tu estructura de datos
                //     ],
                //     columnDefs: [{
                //         targets:5,
                //         data:null,
                //         defaultContent:
                //         `
                //             <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalPersonas" onclick="AbrirModal('Modificar', '${responseData.id}|${responseData.nombre}|${responseData.apellidoPaterno}|${responseData.apellidoMaterno}|${responseData.identificacion}');">Modificar</button>
                //             <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalPersonas" onclick="AbrirModal('Borrar',${responseData.id});">Borrar</button>
                //         `
                //     }],
                //     language: {
                //         url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-MX.json'
                //     }
                // });
                
                
                const tbodyTablaPersonas = document.getElementById("tbodyTablaPersonas");
                //tbodyTablaPersonas.innerHTML = "";
                for (let item of responseData) {
                    tbodyTablaPersonas.innerHTML +=
                        `
                                <tr>
                                    <td>${item.id}</td>
                                    <td>${item.nombre}</td>
                                    <td>${item.apellidoPaterno}</td>
                                    <td>${item.apellidoMaterno}</td>
                                    <td>${item.identificacion}</td>
                                    <td>
                                        <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalPersonas" onclick="AbrirModal('Modificar', '${item.id}|${item.nombre}|${item.apellidoPaterno}|${item.apellidoMaterno}|${item.identificacion}');">Modificar</button>
                                        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalPersonas" onclick="AbrirModal('Borrar',${item.id});">Borrar</button>
                                    </td>
                                </tr>
                        `;
                }

                new DataTable('#tablaPersonas', {
                    language: {
                        url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-MX.json'
                    }
                });

            })
            .catch(error => {
                console.error("Ha ocurrido un error en la operación");
            });
    }

    const NuevoDataTable = () => {
        $("#tablaPersonas").DataTable({
            ajax: {
                url: Url + "/Persona/ListaPersonas",
                type: "GET",
                dataSrc: ""
            },
            columns: [
                { data: "id" },
                { data: "nombre" },
                { data: "apellidoPaterno" },
                { data: "apellidoMaterno" },
                {data:"identificacion"},
                {
                    data: null,
                    render: function (item, type, row) {
                        return `
                                    <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalPersonas" onclick="AbrirModal('Modificar', '${item.id}|${item.nombre}|${item.apellidoPaterno}|${item.apellidoMaterno}|${item.identificacion}');">Modificar</button>
                                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalPersonas" onclick="AbrirModal('Borrar',${item.id});">Borrar</button>
                                `
                    }
                }
            ],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-MX.json'
            }
        });
    }

    window.onload = CargarPagina;
</script>

